<div class="bg-light px-5 text-right">
    <button class="btn btn-success float-end px-4 my-2" (click)="logout()">Logout</button>
</div>

<div class="container-fluid" style="background-image: url();height: 100%;">
    <p class="display-4 text-dark text-center mt-3" >Products in Cart of {{username}}</p>
    
    <div class="card mb-3 mx-auto" *ngFor="let p of cart, let i=index" style="max-width: 700px;max-height: 100%;">
        <div class="row">
          <div class="col-md-4">
            <img [src]=p.productImgLink class="card-img-top" style="width: 100%;" alt="..."> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{p.productname}}</h5>
              
              <p class="card-title">Colour : {{p.colour}}</p> 
              
              <p class="card-title">Cost : {{(p.cost)| currency:"INR"}}</p> 

              <ul class="pagination justify-content-end set_quantity ">
                <li class="page-item">
                  <button class="page-link" href="#" (click)="incr(p)"><i class="fa fa-plus" aria-hidden="true"></i>  </button>
                </li>  
            <!--<li class="page-item"><input type="text" name=""  class="page-link" [value]=p.quantity id="textbox"></li>-->
           
           <span class="text-center p-1" >{{p.quantity}}</span>
                <li class="page-item">
                  <button class="page-link" href="#" (click)="decr(p)"><i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                </li>            
              </ul>
              
              <td class="text-center"><button class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash" aria-hidden="true"></i>Remove</button></td>
              <td class="text-center"><button class="btn btn-success"(click)="placeorder(i)">Place Order</button></td>

            
            </div>
            
          </div>
          
        </div>
      </div>
      
      <div class="container-fluid p-3 " *ngIf="cart.length!==0">
    <h5 class="text-center amount ">TotalAmount:<strong>{{amount | currency:"INR"}}</strong></h5>
  </div>
      
</div>