
<body>
    <div class="text-right bg-light px-5" style="height: 100px;">
        <h3 class="text-center d-1 pr-5"><h4 class="fas fa-user text-info p-2"></h4>{{username}}</h3>
        <a routerLink="/admincomp" style="color: rebeccapurple;text-decoration: none;" routerLinkActive="active"><b>Add Products </b></a>
         <a routerLink="/allproducts" style="color: darkmagenta;text-decoration: none;padding-left: 20px;" routerLinkActive="active"><b>Show Products</b> </a> 
       
        <button class="btn btn-success my-2 px-4 float-end" (click)="logout()"><h6 class="fas fa-sign-out-alt m-1"></h6><b>Logout</b></button>
       
    </div>
    <div class="container">
        <p class="display-4 text-secondary text-center mt-3">Adding New Products</p>
    
        <form action="form" class="row g-3 mt-5 bg-light p-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
    
            <!-- product name -->
            <div class="form-group col-md-6">
                <label  class="form-label">Product Name</label>
                <input type="text" class="form-control"  name="productname" placeholder="name of the product" formControlName="productname">
               
            </div>
           
            <div class="form-group col-md-6">
                <label  class="form-label">product ID</label>
                <input type="number" class="form-control"  name="productID" placeholder="product ID" formControlName="productID">
              
               
            </div>
            
            <div class="form-group col-md-4">
                <label  class="form-label">Brand</label>
                <input type="text" class="form-control"  name="brand" placeholder="brand of the product" formControlName="brand">
               
               
            </div>
            
    
            <div class="form-group col-md-4">
                <label  class="form-label">Colour</label>
                <input type="text" class="form-control"  name="colour" placeholder="colour of the product" formControlName="colour">
              
            </div>
            <div class="form-group col-md-4">
                <label class="form-label">Category</label>
                <input type="text" class="form-control"  name="category" placeholder="category of the product" formControlName="category">
               
                
            </div>
    
          
            <div class="form-group col-md-4">
                <label class="form-label">Cost</label>
                <input type="number" class="form-control"  name="cost" placeholder="cost in Rupees" formControlName="cost">
               
               
            </div>
            
        
            <div class="form-group  col-12">
                <label  class="form-label">Product Description</label>
                <input type="text" class="form-control" name="description" placeholder="description of product" formControlName="description">
            </div>
    
            <!-- photo -->
            <div class="form-group col-12 py-3">
                <label>Upload Product Image</label>
                 <input type="file" class="form-control" (change)="incomingfile($event)" name="photo" accept='image/*' placeholder="Upload image of the product">
            </div>
            <div class="col-12 pt-1">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Add to Products</button>
            </div>
        </form>
    </div>
    
    </body>
    
    