@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@500&display=swap');

div{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
h3{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
nav{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
}
.active{
    font-weight: bold;
}
.heading{
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: white;
}
.element{
    text-decoration: none;
    color: white;
    font-size: 14px;
}